In [ ]:
import qlib
qlib.init_qlib(provider_uri='~/.qlib/qlib_data/cn_data')

In [ ]:
from qlib.data import D
# 引入Timestamp
from pandas import Timestamp

D.calendar(start_time='2010-01-01', end_time='2017-12-31', freq='day') # 2010-01-01是周五，所以返回的是周一和周二
# [Timestamp('2010-01-04 00:00:00'), Timestamp('2010-01-05 00:00:00')]

In [ ]:
D.instruments(market='all')

In [ ]:
instruments = D.instruments(market='csi300')
D.list_instruments(instruments=instruments, start_time='2010-01-01', end_time='2017-12-31', as_list=True)[:6]

In [ ]:
from qlib.data import D
from qlib.data.filter import NameDFilter
nameDFilter = NameDFilter(name_rule_re='SH[0-9]{4}55') # 匹配以SH开头，后面跟4个数字，最后以55结尾的股票
instruments = D.instruments(market='csi300', filter_pipe=[nameDFilter])
D.list_instruments(instruments=instruments, start_time='2015-01-01', end_time='2016-02-15', as_list=True) # 2015-01-01是周四，所以返回的是周五和周一

In [ ]:
instruments

In [ ]:
from qlib.data import D
from qlib.data.filter import ExpressionDFilter
expressionDFilter = ExpressionDFilter(rule_expression='$close>2000')
instruments = D.instruments(market='csi300', filter_pipe=[expressionDFilter])
D.list_instruments(instruments=instruments, start_time='2015-01-01', end_time='2016-02-15', as_list=True)

In [ ]:
D

In [ ]:
from qlib.data import D
instruments = ['SH600000']
fields = ['$close', '$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').head()

In [ ]:
from qlib.data import D
from qlib.data.filter import NameDFilter, ExpressionDFilter
nameDFilter = NameDFilter(name_rule_re='SH[0-9]{4}55')
expressionDFilter = ExpressionDFilter(rule_expression='$close>Ref($close,1)')
instruments = D.instruments(market='csi300', filter_pipe=[nameDFilter, expressionDFilter])
fields = ['$close', '$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
# D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').head()
# 查看D.features的数据量
df = D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').shape

In [ ]:
from qlib.data.dataset import DataHandlerLP
# dh = DataHandlerLP.from_df(df)
# dh.to_pickle(fname, dump_all=True)

In [3]:
import qlib
from qlib.contrib.data.handler import Alpha158

data_handler_config = {
    "start_time": "2008-01-01",
    "end_time": "2020-08-01",
    "fit_start_time": "2008-01-01",
    "fit_end_time": "2014-12-31",
    "instruments": "csi300",
}

In [4]:
if __name__ == "__main__":
    qlib.init_qlib()
    h = Alpha158(**data_handler_config)

[257885:MainThread](2023-08-27 22:38:10,050) INFO - qlib.Initialization - [config.py:416] - default_conf: client.
[257885:MainThread](2023-08-27 22:38:10,431) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.
[257885:MainThread](2023-08-27 22:38:10,432) INFO - qlib.Initialization - [__init__.py:76] - data_path={'__DEFAULT_FREQ': PosixPath('/home/idea/.qlib/qlib_data/cn_data')}
[257885:MainThread](2023-08-27 22:38:41,851) INFO - qlib.timer - [log.py:127] - Time cost: 31.417s | Loading data Done
[257885:MainThread](2023-08-27 22:38:42,499) INFO - qlib.timer - [log.py:127] - Time cost: 0.198s | DropnaLabel Done
/home/idea/anaconda3/envs/visgpt/lib/python3.8/site-packages/pyqlib-0.9.3.99-py3.8-linux-x86_64.egg/qlib/data/dataset/processor.py:323: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cols] = df[cols].groupby("datetime", group_keys=False).apply(self.zscore_func)
[257885:MainThread](2023-08-27 22:38:46,468) INFO - qlib.timer - [log.py:127] - Time cost: 3.968s | CSZScoreNorm Done
[257885:MainThread](2023-08-27 22:38:46,470) INFO - qlib.timer - [log.py:127] - Time cost: 4.616s | fit & process data Done
[257885:MainThread](2023-08-27 22:38:46,471) INFO - qlib.timer - [log.py:127] - Time cost: 36.037s | Init data Done

In [ ]:
# 描述一下h的数据结构
h.get_cols()

In [5]:
h.fetch()

                           KMID      KLEN     KMID2       KUP      KUP2  \
datetime   instrument
2008-01-02 SH600000    0.010374  0.061129  0.169699  0.028299  0.462937
           SH600004    0.057280  0.059661  0.960094  0.002381  0.039906
           SH600006    0.012673  0.040323  0.314283  0.008065  0.200000
           SH600007    0.066977  0.084186  0.795580  0.007907  0.093923
           SH600008    0.051163  0.082326  0.621469  0.027907  0.338982
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300413    0.011740  0.040868  0.287274  0.018873  0.461817
           SZ300433    0.030103  0.048605  0.619354  0.014111  0.290323
           SZ300498   -0.003356  0.023490 -0.142858  0.012164  0.517855
           SZ300601    0.008080  0.067009  0.120586  0.013750  0.205196
           SZ300628   -0.013750  0.040312 -0.341086  0.017187  0.426356

                           KLOW     KLOW2      KSFT     KSFT2     OPEN0  ...  \
datetime   instrument                                                    ...
2008-01-02 SH600000    0.022457  0.367364  0.004531  0.074127  0.989733  ...
           SH600004    0.000000  0.000000  0.054899  0.920187  0.945823  ...
           SH600006    0.019585  0.485716  0.024193  0.599999  0.987486  ...
           SH600007    0.009302  0.110497  0.068372  0.812154  0.937227  ...
           SH600008    0.003256  0.039549  0.026512  0.322035  0.951327  ...
...                         ...       ...       ...       ...       ...  ...
2020-07-31 SZ300413    0.010254  0.250909  0.003121  0.076366  0.988396  ...
           SZ300433    0.004390  0.090323  0.020383  0.419354  0.970776  ...
           SZ300498    0.007970  0.339288 -0.007550 -0.321424  1.003367  ...
           SZ300601    0.045179  0.674218  0.039509  0.589608  0.991984  ...
           SZ300628    0.009375  0.232558 -0.021563 -0.534884  1.013942  ...

                        VSUMN10   VSUMN20   VSUMN30   VSUMN60    VSUMD5  \
datetime   instrument
2008-01-02 SH600000    0.550639  0.490807  0.485962  0.510337 -0.022349
           SH600004    0.328894  0.392360  0.423984  0.514932  0.633267
           SH600006    0.522838  0.433405  0.494553  0.524930 -0.064064
           SH600007    0.242611  0.291541  0.352613  0.420448  0.878055
           SH600008    0.425714  0.381852  0.400486  0.469882  0.482783
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300413    0.559005  0.514765  0.531086  0.492531 -0.424739
           SZ300433    0.508023  0.507246  0.467712  0.490444  0.000004
           SZ300498    0.565064  0.523422  0.489674  0.488180 -0.545229
           SZ300601    0.265612  0.387342  0.425360  0.465201  0.537872
           SZ300628    0.510992  0.482686  0.511605  0.492685 -0.074103

                        VSUMD10   VSUMD20   VSUMD30   VSUMD60    LABEL0
datetime   instrument
2008-01-02 SH600000   -0.101278  0.018386  0.028076 -0.020675  0.042064
           SH600004    0.342211  0.215280  0.152031 -0.029863  0.000000
           SH600006   -0.045677  0.133190  0.010894 -0.049861 -0.008830
           SH600007    0.514779  0.416918  0.294774  0.159104  0.007495
           SH600008    0.148572  0.236296  0.199027  0.060235 -0.015446
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300413   -0.118010 -0.029530 -0.062173  0.014938 -0.037566
           SZ300433   -0.016046 -0.014492  0.064577  0.019113 -0.031677
           SZ300498   -0.130127 -0.046844  0.020651  0.023640 -0.006531
           SZ300601    0.468775  0.225316  0.149280  0.069599  0.090264
           SZ300628   -0.021985  0.034628 -0.023210  0.014630  0.004142

[895032 rows x 159 columns]

In [ ]:
h.fetch(col_set='label')

In [ ]:
h.get_backend()

In [ ]:
h.get_feature_config()

In [2]:
import qlib
qlib.init_qlib(provider_uri='~/.qlib/qlib_data/cn_data')

[482176:MainThread](2023-08-28 15:48:42,559) INFO - qlib.Initialization - [config.py:416] - default_conf: client.
[482176:MainThread](2023-08-28 15:48:42,865) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.
[482176:MainThread](2023-08-28 15:48:42,867) INFO - qlib.Initialization - [__init__.py:76] - data_path={'__DEFAULT_FREQ': PosixPath('/home/idea/.qlib/qlib_data/cn_data')}

In [3]:
from qlib.data.dataset.loader import QlibDataLoader
MACD_EXP = '(EMA($close, 12) - EMA($close, 26))/$close - EMA((EMA($close, 12) - EMA($close, 26))/$close, 9)/$close'
fields = [MACD_EXP] # MACD
names = ['MACD']
labels = ['Ref($close, -2)/Ref($close, -1) - 1'] # label
label_names = ['LABEL']
data_loader_config = {"feature": (fields, names),"label": (labels, label_names)}
data_loader = QlibDataLoader(config=data_loader_config)
df = data_loader.load(instruments='csi300', start_time='2010-01-01', end_time='2017-12-31')
print(df)

                        feature     label
                           MACD     LABEL
datetime   instrument
2010-01-04 SH600000   -0.008625 -0.019672
           SH600004    0.002348 -0.014721
           SH600006    0.002559  0.002911
           SH600008   -0.003938  0.009818
           SH600009    0.021558 -0.017758
...                         ...       ...
2017-12-29 SZ300124    0.007306 -0.005074
           SZ300136   -0.013492  0.056352
           SZ300144   -0.000966  0.011853
           SZ300251    0.004383  0.021739
           SZ300315   -0.030557  0.012455

[564737 rows x 2 columns]

In [ ]:
from qlib.data.dataset import DatasetH
# 沪深300股票池代码，在instruments文件夹下必须有对应的文件
# Data Loader
market = 'csi300'
# sh000300.txt
# EMA($close, 10)表示计算close的10日指数加权均线
close_ma = ['EMA($close, 10)', 'EMA($close, 30)'] 
# 下一日收益率, Ref($close, -1)表示下一日收盘价
ma_names = ['EMA10', 'EMA30']
ret = ["Ref($close, -1)/$close-1"] 
ret_name = ['next_ret']
qdl_ma_gp = QlibDataLoader(config={'feature':(close_ma, ma_names), 'label': (ret, ret_name)}) 
# 实例化Data Handler
shared_processors = [DropnaProcessor()]
learn_processors = [CSZScoreNorm()]
infer_processors = [ZScoreNorm(fit_start_time='20190101', fit_end_time='20211231')]
dh_pr_test = DataHandlerLP(instruments='sh000300', 
                           start_time='20190101', 
                           end_time='20211231',
                           process_type=DataHandlerLP.PTYPE_I, 
                           learn_processors=learn_processors,
                           shared_processors=shared_processors,
                           infer_processors=infer_processors,
                           data_loader=qdl_ma_gp)
ds = DatasetH(dh_pr_test, segments={"train": ('20190101', '20201231'), "test": ('20210101', '20211231')})
# 准备训练数据
ds.prepare('train')
# 准备测试数据
ds.prepare('test')

In [10]:
import qlib
from qlib.data.dataset.loader import QlibDataLoader
qlib.init_qlib(provider_uri='~/.qlib/qlib_data/cn_data')
# 加载原始特征，比如收盘价、最高价
config=(['$close', '$high','EMA($close, 10)', 'EMA($close, 30)'],['close', 'high','EMA10', 'EMA30'])
qdl = QlibDataLoader(config=config)
qdl.load(instruments=['SH600519'], start_time='20190101', end_time='20191231')
# 可以通过freq参数设置周期，默认freq='day'

[710591:MainThread](2023-08-29 09:33:54,458) INFO - qlib.Initialization - [config.py:416] - default_conf: client.
[710591:MainThread](2023-08-29 09:33:54,464) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.
[710591:MainThread](2023-08-29 09:33:54,467) INFO - qlib.Initialization - [__init__.py:76] - data_path={'__DEFAULT_FREQ': PosixPath('/home/idea/.qlib/qlib_data/cn_data')}

                            close        high       EMA10       EMA30
datetime   instrument
2019-01-02 SH600519    124.290070  126.991760  119.930656  120.109848
2019-01-03 SH600519    122.426697  124.846176  120.440567  120.280975
2019-01-04 SH600519    124.916748  126.093285  121.334900  120.620201
2019-01-07 SH600519    125.640930  126.639015  122.180038  120.984444
2019-01-08 SH600519    125.495667  126.991760  122.821526  121.309120
...                           ...         ...         ...         ...
2019-12-25 SH600519    238.729614  240.687988  242.211929  244.549072
2019-12-26 SH600519    239.024445  240.473206  241.632385  244.192642
2019-12-27 SH600519    244.899506  246.794693  242.226410  244.238251
2019-12-30 SH600519    249.700638  251.743210  243.585358  244.590652
2019-12-31 SH600519    249.111008  250.163895  244.590027  244.882294

[244 rows x 4 columns]

In [9]:
# 这次我们加载沪深300成分股的10日和30日收盘价指数加权均价
market = 'csi300' # 沪深300股票池代码，在instruments文件夹下有对应的sh000300.txt
close_ma = ['EMA($close, 10)', 'EMA($close, 30)'] # EMA($close, 10)表示计算close的10日指数加权均线
ma_names = ['EMA10', 'EMA30']
qdl_ma = QlibDataLoader(config=(close_ma, ma_names))
qdl_ma.load(instruments=market, start_time='20150101', end_time='20210110')

                           EMA10      EMA30
datetime   instrument
2015-01-05 SH600000     6.705043   6.212369
           SH600008     5.418527   5.038994
           SH600009     6.135129   5.982696
           SH600010    10.520832  10.188349
           SH600011     2.831881   2.599487
...                          ...        ...
2020-09-25 SZ300413     8.601592   8.711451
           SZ300433     5.652161   5.663301
           SZ300498     0.625749   0.661269
           SZ300601    58.196869  59.676632
           SZ300628     0.497649   0.502628

[409885 rows x 2 columns]

In [11]:
# 沪深300股票池代码，在instruments文件夹下有对应的sh000300.txt
market = 'csi300' 
# EMA($close, 10)表示计算close的10日指数加权均线
close_ma = ['EMA($close, 10)', 'EMA($close, 30)']
ma_names = ['EMA10', 'EMA30']
ret = ["Ref($close, -1)/$close-1"] 
# 下一日收益率, Ref($close, -1)表示下一日收盘价
ret_name = ['next_ret']
qdl_ma_gp = QlibDataLoader(config={'feature':(close_ma, ma_names), 'label': (ret, ret_name)}) 
qdl_ma_gp.load(instruments=market, start_time='20150101', end_time='20210110')

                         feature                label
                           EMA10      EMA30  next_ret
datetime   instrument
2015-01-05 SH600000     6.705043   6.212369  0.003729
           SH600008     5.418527   5.038994  0.100083
           SH600009     6.135129   5.982696 -0.021432
           SH600010    10.520832  10.188349 -0.025404
           SH600011     2.831881   2.599487 -0.028846
...                          ...        ...       ...
2020-09-25 SZ300413     8.601592   8.711451       NaN
           SZ300433     5.652161   5.663301       NaN
           SZ300498     0.625749   0.661269       NaN
           SZ300601    58.196869  59.676632       NaN
           SZ300628     0.497649   0.502628       NaN

[409885 rows x 3 columns]

In [17]:
from qlib.data.dataset.handler import DataHandlerLP
from qlib.data.dataset.processor import CSZScoreNorm, DropnaProcessor

qdl = QlibDataLoader(config=(['$close/Ref($close, 1)-1'],['Return']))
df = qdl.load(instruments='csi300', start_time='20210101', end_time='20210430') 
# 是否有空值
df.isna().sum()
# 原始数据分布
# df.xs('2021-01-05').hist()
# 实例化DataHandler
dh = DataHandlerLP(instruments='csi300', start_time='20150101', end_time='20210120',learn_processors=[DropnaProcessor(), CSZScoreNorm()],data_loader=qdl)
df_hdl = dh.fetch(data_key=DataHandlerLP.DK_L) # 获取处理后的数据，处理过程为先去空值，再截面标准化。
# 查看是否还存在空值
df_hdl.isna().sum()
# CSZScoreNorm截面标准化处理后的数据分布
# df_hdl.xs('2021-01-05').hist()

[710591:MainThread](2023-08-29 09:41:56,606) INFO - qlib.timer - [log.py:127] - Time cost: 0.862s | Loading data Done
[710591:MainThread](2023-08-29 09:41:56,617) INFO - qlib.timer - [log.py:127] - Time cost: 0.009s | DropnaProcessor Done
/home/idea/anaconda3/envs/visgpt/lib/python3.8/site-packages/pyqlib-0.9.3.99-py3.8-linux-x86_64.egg/qlib/data/dataset/processor.py:323: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cols] = df[cols].groupby("datetime", group_keys=False).apply(self.zscore_func)
[710591:MainThread](2023-08-29 09:41:58,154) INFO - qlib.timer - [log.py:127] - Time cost: 1.536s | CSZScoreNorm Done
[710591:MainThread](2023-08-29 09:41:58,156) INFO - qlib.timer - [log.py:127] - Time cost: 1.548s | fit & process data Done
[710591:MainThread](2023-08-29 09:41:58,157) INFO - qlib.timer - [log.py:127] - Time cost: 2.413s | Init data Done

Return    0
dtype: int64